<!-- -*- mode: XML -*- -->
<!-- start sensr_driver/DriverNodelet in a nodelet manager -->

<launch>

  <!-- start nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="sensr" args="manager" output="screen"/>

  <!-- load driver nodelet into it -->
  <node pkg="nodelet" type="nodelet" name="sensr_driver"
        args="load sensr_driver/DriverNodelet sensr" >
    <param name="sensr_ip" value="$(arg sensr_ip)" />
  </node>    

</launch>
